AppSlns/INTSOF.Utils/Service References/PDFConversion/PDFConversion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INTSOF.Queues" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="urlToConvert" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneratePDFResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertApplicantDocumentToPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/INTSOF.Queues" minOccurs="0" name="applicantDocuments" nillable="true" type="q1:ArrayOfApplicantDoc" />
        <xs:element minOccurs="0" name="tenantID" type="xs:int" />
        <xs:element minOccurs="0" name="applicantFileLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertApplicantDocumentToPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/INTSOF.Queues" minOccurs="0" name="ConvertApplicantDocumentToPDFResult" nillable="true" type="q2:ArrayOfApplicantDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeConvertedDocumentToPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unifiedDocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="tenantID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/INTSOF.Queues" minOccurs="0" name="applicantDocuments" nillable="true" type="q3:ArrayOfApplicantDocToBeMerged" />
        <xs:element minOccurs="0" name="applicantFileLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeConvertedDocumentToPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/INTSOF.Queues" minOccurs="0" name="MergeConvertedDocumentToPDFResult" nillable="true" type="q4:ArrayOfApplicantDocMerging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendConvertedDocumentToPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unifiedDocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="tenantID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/INTSOF.Queues" minOccurs="0" name="applicantDocuments" nillable="true" type="q5:ArrayOfApplicantDocToBeMerged" />
        <xs:element minOccurs="0" name="applicantFileLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="previousUnifiedPdfPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceOrder" type="xs:int" />
        <xs:element minOccurs="0" name="previousPages" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendConvertedDocumentToPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/INTSOF.Queues" minOccurs="0" name="AppendConvertedDocumentToPDFResult" nillable="true" type="q6:ArrayOfApplicantDocMerging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPdfPageCountPdfMerge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPdfPageCountPdfMergeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPdfPageCountPdfMergeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>