AppSlns/INTSOF.Utils/Service References/PDFConversion/PDFConversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PDFConversion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INTSOF.Queues" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPDFConversion_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GeneratePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GeneratePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_ConvertApplicantDocumentToPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertApplicantDocumentToPDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_ConvertApplicantDocumentToPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertApplicantDocumentToPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_MergeConvertedDocumentToPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:MergeConvertedDocumentToPDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_MergeConvertedDocumentToPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:MergeConvertedDocumentToPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_AppendConvertedDocumentToPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:AppendConvertedDocumentToPDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_AppendConvertedDocumentToPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppendConvertedDocumentToPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GetPdfPageCountPdfMerge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPdfPageCountPdfMerge" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GetPdfPageCountPdfMerge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPdfPageCountPdfMergeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPDFConversion">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/DoWork" message="tns:IPDFConversion_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/DoWorkResponse" message="tns:IPDFConversion_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/GeneratePDF" message="tns:IPDFConversion_GeneratePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/GeneratePDFResponse" message="tns:IPDFConversion_GeneratePDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertApplicantDocumentToPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/ConvertApplicantDocumentToPDF" message="tns:IPDFConversion_ConvertApplicantDocumentToPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/ConvertApplicantDocumentToPDFResponse" message="tns:IPDFConversion_ConvertApplicantDocumentToPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MergeConvertedDocumentToPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/MergeConvertedDocumentToPDF" message="tns:IPDFConversion_MergeConvertedDocumentToPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/MergeConvertedDocumentToPDFResponse" message="tns:IPDFConversion_MergeConvertedDocumentToPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppendConvertedDocumentToPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/AppendConvertedDocumentToPDF" message="tns:IPDFConversion_AppendConvertedDocumentToPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/AppendConvertedDocumentToPDFResponse" message="tns:IPDFConversion_AppendConvertedDocumentToPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPdfPageCountPdfMerge">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/GetPdfPageCountPdfMerge" message="tns:IPDFConversion_GetPdfPageCountPdfMerge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/GetPdfPageCountPdfMergeResponse" message="tns:IPDFConversion_GetPdfPageCountPdfMerge_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPDFConversion" type="tns:IPDFConversion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/GeneratePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertApplicantDocumentToPDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/ConvertApplicantDocumentToPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeConvertedDocumentToPDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/MergeConvertedDocumentToPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendConvertedDocumentToPDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/AppendConvertedDocumentToPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfPageCountPdfMerge">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/GetPdfPageCountPdfMerge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDFConversion">
    <wsdl:port name="BasicHttpBinding_IPDFConversion" binding="tns:BasicHttpBinding_IPDFConversion">
      <soap:address location="http://localhost:56548/PDFConversion.svc/PDFConversion" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>