AppSlns/ExternalVendors/ClearStarVendor/xsds/AIM/AIMResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Roger Johnson (National Background Data) -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Russ Johnson (National Background Data) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.nationalbackgrounddata.net" xmlns="http://www.nationalbackgrounddata.net" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Disclaimer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DisclaimerSource"/>
				<xs:element ref="DisclaimerTitle"/>
				<xs:element ref="DisclaimerText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DisclaimerSource" type="xs:string"/>
	<xs:element name="DisclaimerText" type="xs:string"/>
	<xs:element name="DisclaimerTitle" type="xs:string"/>
	<xs:element name="ReportDisclaimers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Disclaimer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street-number"/>
				<xs:element ref="street-pre-direction"/>
				<xs:element ref="street-name"/>
				<xs:element ref="street-post-direction"/>
				<xs:element ref="street-suffix"/>
				<xs:element ref="unit-designation"/>
				<xs:element ref="unit-number"/>
				<xs:element ref="city"/>
				<xs:element name="state" type="statetype"/>
				<xs:element ref="zip"/>
				<xs:element ref="zip4"/>
				<xs:element ref="county"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="age">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="( \d*|\d*)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="age-at-death">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(\d*)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="codemessage" type="xs:string"/>
	<xs:element name="companyname" type="xs:string"/>
	<xs:element name="county" type="xs:string"/>
	<xs:element name="date-first">
		<xs:complexType>
			<xs:attribute name="year" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(\d*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="month" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(\d*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="date-last">
		<xs:complexType>
			<xs:attribute name="year" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(\d*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="month" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(\d*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="death-verification-code" type="xs:string"/>
	<xs:element name="dob">
		<xs:complexType>
			<xs:attribute name="year" type="xs:string" use="optional"/>
			<xs:attribute name="month" type="xs:string" use="optional"/>
			<xs:attribute name="day" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dualname" type="xs:string"/>
	<xs:element name="endusercode" type="xs:string"/>
	<xs:element name="enduserstate" type="xs:string"/>
	<xs:element name="firstname" type="xs:string"/>
	<xs:element name="inputs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="firstname" minOccurs="0"/>
				<xs:element ref="lastname" minOccurs="0"/>
				<xs:element ref="dob" minOccurs="0"/>
				<xs:element ref="ssn" minOccurs="0"/>
				<xs:element ref="state" minOccurs="0"/>
				<xs:element ref="endusercode" minOccurs="0"/>
				<xs:element ref="enduserstate" minOccurs="0"/>
				<xs:element ref="reportusestate" minOccurs="0"/>
				<xs:element ref="permissiblepurpose" minOccurs="0"/>
				<xs:element ref="version" minOccurs="0"/>
				<xs:element ref="product" minOccurs="0"/>
				<xs:element ref="quoteback" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lastname" type="xs:string"/>
	<xs:element name="listed" type="xs:string"/>
	<xs:element name="message" type="xs:string"/>
	<xs:element name="middlename" type="xs:string"/>
	<xs:element name="namesuffix" type="xs:string"/>
	<xs:element name="nbdresponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="requestinformation"/>
				<xs:element ref="ssn-validation" minOccurs="0"/>
				<xs:element ref="records" minOccurs="0"/>
				<xs:element ref="ReportDisclaimers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="permissiblepurpose" type="xs:string"/>
	<xs:element name="phonenumber" type="xs:string" default="0"/>
	<xs:element name="phonenumberdetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phonenumber"/>
				<xs:element ref="listed"/>
				<xs:element ref="firstname"/>
				<xs:element ref="middlename"/>
				<xs:element ref="lastname"/>
				<xs:element ref="namesuffix"/>
				<xs:element ref="dualname"/>
				<xs:element ref="companyname"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product" type="xs:string"/>
	<xs:element name="quoteback" type="xs:string"/>
	<xs:element name="record">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="firstname"/>
				<xs:element ref="middlename"/>
				<xs:element ref="lastname"/>
				<xs:element ref="namesuffix"/>
				<xs:element ref="address"/>
				<xs:element ref="verified"/>
				<xs:element ref="phonenumberdetails"/>
				<xs:element ref="dob"/>
				<xs:element ref="age"/>
				<xs:element ref="age-at-death"/>
				<xs:element ref="death-verification-code"/>
				<xs:element ref="date-first"/>
				<xs:element ref="date-last"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="records">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="record" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportusestate" type="xs:string"/>
	<xs:element name="requestinformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codemessage"/>
				<xs:element ref="inputs"/>
			</xs:sequence>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ssn" type="xs:string"/>
	<xs:element name="ssn-validation">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="message"/>
				<xs:element ref="year"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="state" type="xs:string"/>
	<xs:element name="street-name" type="xs:string"/>
	<xs:element name="street-number" type="xs:string"/>
	<xs:element name="street-post-direction" type="xs:string"/>
	<xs:element name="street-pre-direction" type="xs:string"/>
	<xs:element name="street-suffix" type="xs:string"/>
	<xs:element name="unit-designation" type="xs:string"/>
	<xs:element name="unit-number" type="xs:string"/>
	<xs:element name="verified" type="xs:string"/>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="year" type="xs:string"/>
	<xs:element name="zip">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
				<xs:pattern value="(\d*)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="zip4">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
				<xs:pattern value="(\d*)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="statetype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AK"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="FL"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="HI"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="IA"/>
			<xs:enumeration value="KS"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MI"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NV"/>
			<xs:enumeration value="NH"/>
			<xs:enumeration value="NJ"/>
			<xs:enumeration value="NM"/>
			<xs:enumeration value="NY"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="OH"/>
			<xs:enumeration value="OK"/>
			<xs:enumeration value="OR"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="RI"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TX"/>
			<xs:enumeration value="UT"/>
			<xs:enumeration value="VT"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="WA"/>
			<xs:enumeration value="WV"/>
			<xs:enumeration value="WI"/>
			<xs:enumeration value="WY"/>
			<xs:enumeration value="FN"/>
			<xs:enumeration value="MU"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
