AppSlns/ExternalServiceProxy/Service References/ComplianceRuleServiceReference/ComplianceRuleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListDataContract" nillable="true" type="tns:ListDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListDataContract" nillable="true" type="tns:ArrayOfListDataContract" />
  <xs:complexType name="ListDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListDataContract" nillable="true" type="tns:ListDataContract" />
</xs:schema>