AppSlns/DAL/Service References/BatchImportService/BatchImport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BatchImport" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61041/BatchImport.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61041/BatchImport.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBatchImport_ImportExcelToStaging_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportExcelToStaging" />
  </wsdl:message>
  <wsdl:message name="IBatchImport_ImportExcelToStaging_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportExcelToStagingResponse" />
  </wsdl:message>
  <wsdl:message name="IBatchImport_ProcessStagingData_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessStagingData" />
  </wsdl:message>
  <wsdl:message name="IBatchImport_ProcessStagingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessStagingDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBatchImport_GetBatchFileXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchFileXML" />
  </wsdl:message>
  <wsdl:message name="IBatchImport_GetBatchFileXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchFileXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IBatchImport">
    <wsdl:operation name="ImportExcelToStaging">
      <wsdl:input wsaw:Action="http://tempuri.org/IBatchImport/ImportExcelToStaging" message="tns:IBatchImport_ImportExcelToStaging_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBatchImport/ImportExcelToStagingResponse" message="tns:IBatchImport_ImportExcelToStaging_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessStagingData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBatchImport/ProcessStagingData" message="tns:IBatchImport_ProcessStagingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBatchImport/ProcessStagingDataResponse" message="tns:IBatchImport_ProcessStagingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchFileXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IBatchImport/GetBatchFileXML" message="tns:IBatchImport_GetBatchFileXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBatchImport/GetBatchFileXMLResponse" message="tns:IBatchImport_GetBatchFileXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBatchImport" type="tns:IBatchImport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportExcelToStaging">
      <soap:operation soapAction="http://tempuri.org/IBatchImport/ImportExcelToStaging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStagingData">
      <soap:operation soapAction="http://tempuri.org/IBatchImport/ProcessStagingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchFileXML">
      <soap:operation soapAction="http://tempuri.org/IBatchImport/GetBatchFileXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BatchImport">
    <wsdl:port name="BasicHttpBinding_IBatchImport" binding="tns:BasicHttpBinding_IBatchImport">
      <soap:address location="http://localhost:61041/BatchImport.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>