AppSlns/ExternalVendors/Web References/UpdateWebCCFClearStarOrder/ClearStarOrderInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="UpdateClearStarOrderInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DonorID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClearStarOrderInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateClearStarOrderInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get3rdPartyFee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lab" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get3rdPartyFeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get3rdPartyFeeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateClearStarOrderInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClearStarOrderInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateClearStarOrderInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClearStarOrderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Get3rdPartyFeeSoapIn">
    <wsdl:part name="parameters" element="tns:Get3rdPartyFee" />
  </wsdl:message>
  <wsdl:message name="Get3rdPartyFeeSoapOut">
    <wsdl:part name="parameters" element="tns:Get3rdPartyFeeResponse" />
  </wsdl:message>
  <wsdl:portType name="ClearStarOrderInfoSoap">
    <wsdl:operation name="UpdateClearStarOrderInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing the status of the service.</wsdl:documentation>
      <wsdl:input message="tns:UpdateClearStarOrderInfoSoapIn" />
      <wsdl:output message="tns:UpdateClearStarOrderInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get3rdPartyFee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing the 3rd party fee.</wsdl:documentation>
      <wsdl:input message="tns:Get3rdPartyFeeSoapIn" />
      <wsdl:output message="tns:Get3rdPartyFeeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClearStarOrderInfoSoap" type="tns:ClearStarOrderInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateClearStarOrderInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateClearStarOrderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get3rdPartyFee">
      <soap:operation soapAction="http://tempuri.org/Get3rdPartyFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClearStarOrderInfoSoap12" type="tns:ClearStarOrderInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateClearStarOrderInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateClearStarOrderInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get3rdPartyFee">
      <soap12:operation soapAction="http://tempuri.org/Get3rdPartyFee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClearStarOrderInfo">
    <wsdl:port name="ClearStarOrderInfoSoap" binding="tns:ClearStarOrderInfoSoap">
      <soap:address location="https://widget.webccf.com/service/ClearStarOrderInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="ClearStarOrderInfoSoap12" binding="tns:ClearStarOrderInfoSoap12">
      <soap12:address location="https://widget.webccf.com/service/ClearStarOrderInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>