AppSlns/INTSOF.Utils/Service References/EmailService/EmailService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/INTSOF.Queues" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/INTSOF.Queues" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56548/EmailService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EMailMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCCAddresses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCAddresses" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Content" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="EmailBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailPriority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToAddresses" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMailMessage" nillable="true" type="tns:EMailMessage" />
</xs:schema>