AppSlns/DAL/Service References/PDFConversion/PDFConversion31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INTSOF.Queues" />
  <xs:complexType name="TupleOfstringArrayOfApplicantDocToBeMergedodubidBA">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfApplicantDocToBeMerged" Namespace="http://schemas.datacontract.org/2004/07/INTSOF.Queues" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/INTSOF.Queues" name="m_Item2" nillable="true" type="q1:ArrayOfApplicantDocToBeMerged" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringArrayOfApplicantDocToBeMergedodubidBA" nillable="true" type="tns:TupleOfstringArrayOfApplicantDocToBeMergedodubidBA" />
</xs:schema>