AppSlns/DAL/Service References/PDFConversion/PDFConversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PDFConversion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INTSOF.Queues" />
      <xsd:import schemaLocation="http://localhost:56548/PDFConversion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPDFConversion_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GeneratePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GeneratePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_ConvertApplicantDocumentToPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertApplicantDocumentToPDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_ConvertApplicantDocumentToPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertApplicantDocumentToPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_AppendConvertedDocumentToPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:AppendConvertedDocumentToPDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_AppendConvertedDocumentToPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppendConvertedDocumentToPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_ConvertDocumentToPDFForPrint_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertDocumentToPDFForPrint" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_ConvertDocumentToPDFForPrint_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertDocumentToPDFForPrintResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_DeleteAppDocumentFromUnifiedPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppDocumentFromUnifiedPDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_DeleteAppDocumentFromUnifiedPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppDocumentFromUnifiedPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_MergeAttestationDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:MergeAttestationDocuments" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_MergeAttestationDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:MergeAttestationDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GetPdfPageDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPdfPageDetails" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_GetPdfPageDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPdfPageDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_AppendConvertedUnifiedDocumentToPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:AppendConvertedUnifiedDocumentToPDF" />
  </wsdl:message>
  <wsdl:message name="IPDFConversion_AppendConvertedUnifiedDocumentToPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppendConvertedUnifiedDocumentToPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="IPDFConversion">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/DoWork" message="tns:IPDFConversion_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/DoWorkResponse" message="tns:IPDFConversion_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/GeneratePDF" message="tns:IPDFConversion_GeneratePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/GeneratePDFResponse" message="tns:IPDFConversion_GeneratePDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertApplicantDocumentToPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/ConvertApplicantDocumentToPDF" message="tns:IPDFConversion_ConvertApplicantDocumentToPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/ConvertApplicantDocumentToPDFResponse" message="tns:IPDFConversion_ConvertApplicantDocumentToPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppendConvertedDocumentToPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/AppendConvertedDocumentToPDF" message="tns:IPDFConversion_AppendConvertedDocumentToPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/AppendConvertedDocumentToPDFResponse" message="tns:IPDFConversion_AppendConvertedDocumentToPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertDocumentToPDFForPrint">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/ConvertDocumentToPDFForPrint" message="tns:IPDFConversion_ConvertDocumentToPDFForPrint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/ConvertDocumentToPDFForPrintResponse" message="tns:IPDFConversion_ConvertDocumentToPDFForPrint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAppDocumentFromUnifiedPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/DeleteAppDocumentFromUnifiedPDF" message="tns:IPDFConversion_DeleteAppDocumentFromUnifiedPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/DeleteAppDocumentFromUnifiedPDFResponse" message="tns:IPDFConversion_DeleteAppDocumentFromUnifiedPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MergeAttestationDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/MergeAttestationDocuments" message="tns:IPDFConversion_MergeAttestationDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/MergeAttestationDocumentsResponse" message="tns:IPDFConversion_MergeAttestationDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPdfPageDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/GetPdfPageDetails" message="tns:IPDFConversion_GetPdfPageDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/GetPdfPageDetailsResponse" message="tns:IPDFConversion_GetPdfPageDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppendConvertedUnifiedDocumentToPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFConversion/AppendConvertedUnifiedDocumentToPDF" message="tns:IPDFConversion_AppendConvertedUnifiedDocumentToPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFConversion/AppendConvertedUnifiedDocumentToPDFResponse" message="tns:IPDFConversion_AppendConvertedUnifiedDocumentToPDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPDFConversion" type="tns:IPDFConversion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/GeneratePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertApplicantDocumentToPDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/ConvertApplicantDocumentToPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendConvertedDocumentToPDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/AppendConvertedDocumentToPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertDocumentToPDFForPrint">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/ConvertDocumentToPDFForPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAppDocumentFromUnifiedPDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/DeleteAppDocumentFromUnifiedPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeAttestationDocuments">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/MergeAttestationDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfPageDetails">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/GetPdfPageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendConvertedUnifiedDocumentToPDF">
      <soap:operation soapAction="http://tempuri.org/IPDFConversion/AppendConvertedUnifiedDocumentToPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDFConversion">
    <wsdl:port name="BasicHttpBinding_IPDFConversion" binding="tns:BasicHttpBinding_IPDFConversion">
      <soap:address location="http://localhost:56548/PDFConversion.svc/PDFConversion" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>