AppSlns/ExternalVendors/Web References/ADBMROTCNTestResult/testresult.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://secure.totalcompnet.com/TCNTestResultWS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://secure.totalcompnet.com/TCNTestResultWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://secure.totalcompnet.com/TCNTestResultWS/">
      <s:element name="GetTestResultsAsXML">
        <s:complexType />
      </s:element>
      <s:element name="GetTestResultsAsXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultsAsXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTestResultsAsString">
        <s:complexType />
      </s:element>
      <s:element name="GetTestResultsAsStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultsAsStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTestResultsAsXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResultsAsXML" />
  </wsdl:message>
  <wsdl:message name="GetTestResultsAsXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultsAsXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultsAsXMLAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetTestResultsAsStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResultsAsString" />
  </wsdl:message>
  <wsdl:message name="GetTestResultsAsStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultsAsStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultsAsStringAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="TCNTestResultWSSoap">
    <wsdl:operation name="GetTestResultsAsXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve unreported test result(s) as XMLDocument object</documentation>
      <wsdl:input message="tns:GetTestResultsAsXMLSoapIn" />
      <wsdl:output message="tns:GetTestResultsAsXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestResultsAsString">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve unreported test result(s) as String</documentation>
      <wsdl:input message="tns:GetTestResultsAsStringSoapIn" />
      <wsdl:output message="tns:GetTestResultsAsStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCNTestResultWSSoap" type="tns:TCNTestResultWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestResultsAsXML">
      <soap:operation soapAction="https://secure.totalcompnet.com/TCNTestResultWS/GetTestResultsAsXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTestResultsAsXMLAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResultsAsString">
      <soap:operation soapAction="https://secure.totalcompnet.com/TCNTestResultWS/GetTestResultsAsString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTestResultsAsStringAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCNTestResultWS">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">TCN Result Reporting Service (***Unauthorized Access is Prohibited***)</documentation>
    <wsdl:port name="TCNTestResultWSSoap" binding="tns:TCNTestResultWSSoap">
      <soap:address location="http://secure.totalcompnet.com/TCNTestResultWS/testresult.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>